<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="/">{{ site.title }}</a></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
        <p>This site is <a href="https://github.com/eneko/eneko.github.io">open source</a></p>
        <p>&copy; 2013-{{ site.time | date: '%Y' }} {{ site.author.name }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>{% include icon-github.html username=site.github_username %}</li>
          <li>{% include icon-twitter.html username=site.twitter_username %}</li>
          <li>{% include icon-stackoverflow.html userid=site.stackoverflow_userid username=site.stackoverflow_username %}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

  <script data-goatcounter="https://eneko.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</footer>
