// EA Overrides ------------------------------------------

h1, h2, h3, h4 {
    line-height: 1;
    margin: 0;
}
h1 {
    font-weight: 800;
    color: #333;
}
.post-title {
    letter-spacing: -2px;
}
h2 {
    padding: 20px 0 20px;
    font-weight: 700;
    color: #444;
}
h3 {
    padding: 20px 0 10px;
    font-weight: 600;
    color: #555;
}
h4 {
    padding: 20px 0 10px;
    font-weight: 500;
    color: #666;
}

img + em {
    color: #787878;
    text-align: center;
    display: block;
    font-size: 0.8em;
}

.post-content ul,
.post-content ol {
  padding: 10px 30px;
}
.post-content img {
    display: block;
    margin: 0 auto;
}
code {
  background: #def;
}
pre code {
  background: inherit;
}
blockquote {
  border-color: #ef2;
  background-color: #fafec0;
  padding: 20px;
}
.post-content blockquote p {
  letter-spacing: 0px;
  color: #555;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 300;
}
.footnotes p {
  font-size: 0.95em;
}
footer.post-footer {
    border-top: dashed 1px #d0d0d0;
    padding-top: 20px;
}

hr {
    margin: 50px auto;
    width: 60%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(200, 200, 200, 0.75), rgba(0, 0, 0, 0));
}
