---
layout: default
---

{% assign words = content | strip_html | strip_newlines | remove: " " | size %}
{% assign time = content | strip_html | strip_newlines | remove: " " | size | divided_by: 400 | plus: 1 %}

<nav><a href="{{ site.url }}">enekoalonso.com</a></nav>
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      •
      <span class="reading-time icon-clock morebox" >Reading time: {{ time }} {%if time > 1 %}mins{% else %}min{% endif %}, {{words}} words.</span>
      {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
    </p>
    {% if page.tags.size > 0 %}
    <nav class="tags">
      {% assign tags = page.tags | sort %}
      {% for tag in tags %}
      <span class="tag">{{ tag }}</span>
      {% endfor %}
    </nav>
    {% endif %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer class="post-footer">
      <p>Thank you for reading! If you liked this article, please share it or <a href="http://twitter.com/eneko">shoot me a note on Twitter</a>.</p>
  </footer>

</article>
